body{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/Monob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: white;
    font-size: 45px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(39, 230, 128);
}

.jaguar{
    color: white;
    font-size: 50px;
}

p{
    color: white;
    font-size: 30px;
    width: 50%;
    margin: 70px;
    text-align: justify;
}