/* Estilo general para el fondo */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/Selva1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 45px;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
}

a   q:hover {
    color: rgb(28, 165, 165);
}

/* Estilos del contenedor principal del slider */
.slider-box {
    background-color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    height: 270px; /* El slider ocupará la altura completa de la pantalla */
}

.slider-box ul {

    background-color: #3b3636;
    display: flex;
    width: calc(100% * 5); /* Cambia el número según la cantidad de slides */
    margin: 0;
    padding: 0;
    animation: slide 20s infinite ease-in-out; /* Duración de cada transición */
}

.slider-box li {
    background-color: #4e0303;
    width: 100%;
    list-style: none;
    display: flex; /* Para alinear imagen y texto horizontalmente */
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.info {
    background-color: #0d0650;
    
    width: 45%;
    text-align: left;
}

.info h2 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.info p {
    color: #FFFFFF;
    font-size: 18px;
}

.imagen img{
    background-color: antiquewhite;
    width: 500px;
    height: auto    ;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    95% { margin-left: -300%; }

    100% { margin-left: -400%; }
}
