<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Boa Constrictor</title>
    <link rel="stylesheet" href="../css/Boa.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="index.html">SELVA</a></h1>
            <ul class="nav-menu">
                <li><a href="Jaguar.html">JAGUAR</a></li>
                <li><a href="Mono.html">MONO</a></li>
                <li><a href="Tapir.html">TAP&Iacute;R</a></li>
                <li><a href="Boa.html">BOA</a></li>
                <li><a href="Guacamaya.html">GUACAMAYA</a></li>
                <li><a href="#">GALER&Iacute;A</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="jaguar"><center>BOA CONSTRICTOR</center></h1>



    <div class="content">
        <div class="info">
            <p>La Boa constrictor, como se conoce en el ámbito científico, es una serpiente no venenosa. Su 
                cuerpo es robusto y llega a medir en promedio unos 4 m de longitud. Su piel presenta escamas de
                colores rosa o beige con bandas cruzadas de color más oscuro. 
                
                En México se distribuye en ambas costas: en el Pacífico, desde el norte de Sonora y centro 
                de Tamaulipas; al centro, en los estados de Durango, Morelos, Puebla y San Luis Potosí, y en el
                Golfo hasta la Península de Yucatán. 
                 
                Las boas son animales carnívoros que cazan por la noche. Sus
                hábitos alimenticios contribuyen a mantener a algunas poblaciones animales bajo control,
                prestando así un servicio ambiental muy importante, sobre todo en lo que toca a la agricultura.</p>

            <h2>Dieta</h2>
            <ul class="content-list">
                <li>Lagartijas</li>
                <li>Aves pequeñas</li>
                <li>Tlacuaches</li>
                <li>Murciélagos</li>
                <li>Ratas</li>
                <li>Ardillas</li>
            </ul>

            <h2>Depredadores</h2>
            <ul class="content-list">
                <li>Ser humano</li>
                <li>Águilas</li>
                <li>Halcones</li>
                <li>Cocodrilos</li>
                <li>Caimanes</li>
            </ul>
        </div>

        <div class="image">
            <img src="../img/Boa.jpg" alt="Imagen de un Jaguar" style="width:100%;">
            <img src="../img/Boac.jpg" alt="Imagen de otro Jaguar" style="width:100%; margin-top:100px;">
        </div>
    </div>

    <footer>
        <p><center>© 2020 SELVA</center>Todos los derechos reservados.</p>
    </footer>

</body>
</html>        
