<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Características de los Volcanes</title>
    <link rel="stylesheet" href="../css/Caracteristicas.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="index.html">VOLCANES</a></h1>
            <ul class="nav-menu">
                <li><a href="Caracteristicas.html">CARACTERÍSTICAS</a></li>
                <li><a href="Partes.html">Partes</a></li>
                <li><a href="Importantes.html">Importantes</a></li>
                <li><a href="Clasificacion.html">Clasificación</a></li>
                <li><a href="Galeria.html">Galería</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="Volcan"><center>Características de los Volcanes</center></h1>

    <div class="content">
         <p>Los volcanes son fascinantes formaciones geológicas con características únicas. Aquí tienes algunas de sus principales características:</p>
        <div class="info">
           
            <br><br><br>
            <h2>Principales</h2>
            <ul class="content-list">
                <li>Por medio de él salen ceniza volcánica, lava y gases.</li>
                <li>Hacen erupción cuando la montaña volcánica se activa.</li>
                <li>Liberan energía capaz de destruir todo a su paso.</li>
                <li>Liberan también cortinas de humo y ceniza.</li>
                <li>Su actividad es imprevisible.</li>
            </ul>
        </div>
        <div class="image">
            <img src="../img/VolcanCarac1.jpg" alt="Imagen de un Volcan" style="width:100%;">
        </div>
        
        <div class="image right">
            <img src="../img/VolcanCarac2.jpg" alt="Imagen de otro Volcan" style="width:100%;">
        </div>
        <div class="info right">
            <h2>Fisiológicas</h2>
            <ul class="content-list">
                <li><b> Forma cónica:</b> Generalmente, los volcanes tienen una estructura cónica debido a la acumulación de materiales tras sucesivas erupciones.</li>
                <li><b>Cr&aacute;ter en la cima:</b> En la cima de esta estructura cónica suele haber un cráter, que es por donde se expulsan los materiales magmáticos.</li>
                <li><b>Materiales expulsados:</b> Durante una erupción, un volcán puede expulsar lava, cenizas, gases y otros materiales provenientes del interior de la Tierra1.</li>
                <li><b>Temperaturas Extremas:</b> El magma, que es la lava antes de ser expulsada, puede alcanzar temperaturas entre 700 y 1300 ºC.</li>
                <li><b>Ciclo de Vida:</b> Los volcanes tienen un ciclo de vida que incluye fases de actividad, inactividad o dormancia, y extinción.</li>
                <li><b>Relaci&oacute;n con las placas tecnt&oacute;nicas:</b> La formación de los volcanes está estrechamente relacionada con el movimiento de las placas tectónicas, especialmente en zonas de subducción.</li>
            </ul>
        </div>
    </div>



    <footer>
        <p><center>© 2020 VOLCANES</center>
            Todos los derechos reservados.</p>
    </footer>
</body>
</html>
