<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Selva</title>
    <link rel="stylesheet" href="../css/Galeria.css">
    <link rel="js" href="index.js">
    <link rel="icon" type="image/png" href="/img/mono2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
</head>

<body>
    <nav>
        <h1><a href="index.html">SELVA</a></h1>
        <ul>
            <li><a href="Jaguar.html">JAGUAR</a></li>
            <li><a href="Mono.html">MONO</a></li>
            <li><a href="Tapir.html">TAPÍR</a></li>
            <li><a href="Boa.html">BOA</a></li>
            <li><a href="Guacamaya.html">GUACAMAYA</a></li>
            <li><a href="Galeria.html">GALERÍA</a></li>
        </ul>
    </nav>

  <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper" thumbs-swiper=".mySwiper2" loop="true" space-between="10" navigation="true">
    <swiper-slide>
      <img src="../img/jaguar2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/monoaraña.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/tapir2.webp" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/boa2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/guacamaya3.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/Boa.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/Boac.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/Guacamaya.jpeg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/Jaguarc.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/Monoc.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/Mono.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../img/Tapirb.jpeg" />
    </swiper-slide>
  </swiper-container>

  <swiper-container class="mySwiper2" loop="true" space-between="10" slides-per-view="4" free-mode="true" watch-slides-progress="true">
    <swiper-slide>
        <img src="../img/jaguar2.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/monoaraña.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/tapir2.webp" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/boa2.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/guacamaya3.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/Boa.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/Boac.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/Guacamaya.jpeg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/Jaguarc.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/Monoc.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/Mono.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../img/Tapirb.jpeg" />
      </swiper-slide>
    </swiper-container>

    <footer>
        <p>© 2024 Animaya. Todos los derechos reservados.</p>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</body>

</html>
