<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partes de un Volcán</title>
    <link rel="stylesheet" href="../css/Importantes.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="index.html">VOLCANES</a></h1>
            <ul class="nav-menu">
                <li><a href="Caracteristicas.html">Características</a></li>
                <li><a href="Partes.html">Partes</a></li>
                <li><a href="Importantes.html">IMPORTANTES</a></li>
                <li><a href="Clasificacion.html">Clasificación</a></li>
                <li><a href="Galeria.html">Galería</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="Volcan"><center>Volcanes Mas Importantes</center></h1>

    <div class="content">
         <p>Los volcanes representan la misma fuerza destructiva de la naturaleza en todo su explendor,
            algo a lo que no debemos perderle el respeto. Por eso es importante recodar cuáles han sido
            aquellos volcnaes que han marcado un antes y un después en la historia de la humanidad.</p>

        <br><br>
        <div class="info">
            <br><br>
            <h2>Volcanes mas Importantes del Mundo</h2>
            <ul class="content-list">
                <li><b>Monte Vesubio </b><i>(Italia)</i><b>:</b> Es famoso por su erupción en el año 79 d.C., que destruyó las ciudades romanas de Pompeya y Herculano, conservándolas casi intactas bajo las cenizas volcánicas y proporcionando una visión única de la vida en la antigüedad.</li>
                <li><b>Monte Santa Helena </b><i>(Estados Unidos)</i><b>:</b> Su erupción en 1980 fue una de las más destructivas en la historia de los Estados Unidos. Alteró drásticamente el paisaje circundante, destruyendo vastas áreas de bosque y creando un nuevo cráter.</li>
                <li><b>Monte Etena </b><i>(Estados Italia)</i><b>:</b> Es uno de los volcanes más activos del mundo y el volcán más grande de Europa. Ha tenido numerosas erupciones a lo largo de la historia y su actividad volcánica ha influido significativamente en la geología y la cultura de Sicilia.</li>
                <li><b>Kilauea </b><i>(Hawái)</i><b>:</b> Es uno de los volcanes más activos del mundo y ha estado en erupción continua desde 1983. Ha formado paisajes volcánicos únicos en la Isla Grande de Hawái, incluyendo flujos de lava que han llegado hasta el océano.</li>
                <li><b>Monte Fuji </b><i>(Japón)</i><b>:</b> Es el volcán más alto de Japón y un símbolo cultural e icónico del país. Ha inspirado obras de arte y literatura a lo largo de los siglos y es venerado como un lugar sagrado.</li>
                <li><b>Volcán Krakatoa </b><i>(Indonesia)</i><b>:</b> Su erupción en 1883 fue una de las más catastróficas en la historia moderna, causando tsunamis devastadores, alteraciones climáticas globales y la destrucción de la isla que lo albergaba.</li>
                <li><b>Monte Tambora </b><i>(Indonesia)</i><b>:</b> Su erupción en 1815 fue la más potente registrada en la historia. La gran cantidad de material expulsado a la atmósfera causó un enfriamiento global, resultando en el "Año sin verano" en 1816, con impactos en la agricultura y la sociedad en todo el mundo.</li>
            </ul>  
        </div>       
            <div class="image">
                <img src="../img/explosion.jpeg" alt="Gráfica de las partes de un Volcán" style="width:100%;">
                <img src="../img/tambora.jpg" alt="Gráfica de las partes de un Volcán" style="width:100%; margin-top:70px;">
            </div>  
        </div>
    


    <footer>
        <p><center>© 2020 VOLCANES</center>Todos los derechos reservados.</p>
    </footer>
</body>
</html>
