<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Volcanes</title>
    <link rel="stylesheet" href="../css/stylesmain.css">
    <link rel="icon" type="image/png" href="../img/mono2.png">
</head>
<body>
    <header>
        <nav>
            <h1>VOLCANES</h1>
            <ul>
                <li><a href="Caracteristicas.html">Características</a></li>
                <li><a href="Partes.html">Partes</a></li>
                <li><a href="Importantes.html">Importantes</a></li>
                <li><a href="Clasificacion.html">Clasificación</a></li>
                <li><a href="Galeria.html">Galería</a></li>
            
            </ul>
        </nav>
    </header>
    
    <div class="slider-box">
        <ul>
            <li class="slide">

                <div class="imagen">
                    <img src="../img/VolcanCaracteristica.jpg" alt="Jaguar">
                </div>                
                <div class="info">
                    <h2>CARACTERÍSTICAS</h2>
                    <p>Aquellas que distinguen a los volcanes y que hacen de estos fenomenos geotermicos una de la verdadera maravilla de la naturaleza</p>
                </div>
            </li>

            <li>
                <img src="../img/Mono.jpg">
                <div class="texto">
                    <h2>MONO</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>

            <li>
                <img src="../img/Tapir.jpg">
                <div class="texto">
                    <h2>TAP&Iacute;R</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>

            <li>
                <img src="../img/Boa.jpg">
                <div class="texto">
                    <h2>BOA</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>

            <li>
                <img src="../img/Guacamaya.jpg">
                <div class="texto">
                    <h2>GUACAMAYA</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <script src="../js/carrusel.js"></script>
</body>
</html>