<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Selva</title>
    <link rel="stylesheet" href="../css/stylesmain.css">
</head>
<body>
    <header>
        <nav>
            <h1>SELVA</h1>
            <ul>
                <li><a href="#">JAGUAR</a></li>
                <li><a href="#">MONO</a></li>
                <li><a href="#">TAP&Iacute;R</a></li>
                <li><a href="#">BOA</a></li>
                <li><a href="#">GUACAMAYA</a></li>
                <li><a href="#">GALER&Iacute;A</a></li>
            </ul>
        </nav>
    </header>

    <div class="slider-box">
        <ul>
            <li>
                <img src="../img/Jaguar.jpg">
                <div class="texto">
                    <h2>JAGUAR</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>

            <li>
                <img src="../img/Mono.jpg">
                <div class="texto">
                    <h2>MONO</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>

            <li>
                <img src="../img/Tapir.jpg">
                <div class="texto">
                    <h2>TAP&Iacute;R</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>

            <li>
                <img src="../img/Boa.jpg">
                <div class="texto">
                    <h2>BOA</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>

            <li>
                <img src="../img/Guacamaya.jpg">
                <div class="texto">
                    <h2>GUACAMAYA</h2>
                    <p>
                        "Posible texto"
                    </p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>