<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Jaguar</title>
    <link rel="stylesheet" href="../css/Jaguar.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="index.html">SELVA</a></h1>
            <ul class="nav-menu">
                <li><a href="Jaguar.html">JAGUAR</a></li>
                <li><a href="Mono.html">MONO</a></li>
                <li><a href="Tapir.html">TAP&Iacute;R</a></li>
                <li><a href="Boa.html">BOA</a></li>
                <li><a href="Guacamaya.html">GUACAMAYA</a></li>
                <li><a href="#">GALER&Iacute;A</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="jaguar"><center>JAGUAR</center></h1>

    <div class="content">
        <div class="info">
            <p>Es un mamífero carnívoro de la familia de los félidos, su nombre común proviene del vocablo 
            guaraní yaguará, y su nombre científico es panthera onca. Este felino, era el animal más temido que 
            habitaba en la tierra para las antiguas civilizaciones que surgieron en México y Centroamérica; tenía 
            un rol religioso muy grande y un simbolismo militar importantísimo. Los Olmecas, primera 
            civilización mesoamericana, son conocidos como "El pueblo de Jaguar", debido a que sus cultos 
            son dirigidos principalmente a dioses jaguares; se han encontrado representaciones fantásticas de 
            figuras felinas, hombres convirtiéndose en jaguares, así como mascarones y otras esculturas con 
            rasgos típicos de jaguar.</p>

            <h2>Dieta</h2>
            <ul class="content-list">
                <li>Ciervos</li>
                <li>Pecaríes</li>
                <li>Capibaras</li>
                <li>Tapíres</li>
                <li>Otros mamíferos medianos y grandes</li>
            </ul>

            <h2>Depredadores</h2>
            <ul class="content-list">
                <li>Ser humano</li>
                <li>Cocodrilos</li>
                <li>Anacondas</li>
            </ul>
        </div>

        <div class="image">
            <img src="../img/Jaguar.jpg" alt="Imagen de un Jaguar" style="width:100%;">
            <img src="../img/Jaguarc.jpg" alt="Imagen de otro Jaguar" style="width:100%; margin-top:100px;">
        </div>
    </div>

    <footer>
        <p><center>© 2020 SELVA</center>Todos los derechos reservados.</p>
    </footer>
</body>
</html>
