<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mono</title>
    <link rel="stylesheet" href="../css/Mono.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="index.html">SELVA</a></h1>
            <ul class="nav-menu">
                <li><a href="Jaguar.html">JAGUAR</a></li>
                <li><a href="Mono.html">MONO</a></li>
                <li><a href="Tapir.html">TAP&Iacute;R</a></li>
                <li><a href="Boa.html">BOA</a></li>
                <li><a href="Guacamaya.html">GUACAMAYA</a></li>
                <li><a href="#">GALER&Iacute;A</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="animal-title"><center>MONO ARAÑA</center></h1>

    <div class="content">
        <div class="image">
            <img src="../img/Monoc.jpg" alt="Imagen de un Mono Araña" style="width:100%;">
            <img src="../img/Mono.jpg" alt="Imagen de otro Mono Araña" style="width:100%; margin-top: 20px;">
        </div>
        <div class="info">
            <p>El nombre cient&iacute;fico de esta especie de monos es Ateles geoffroyi. Son animales diurnos, que 
                hace algunos años habitaban desde el noreste de Jalisco hacia el sur y sureste de M&eacute;xico, as&iacute; 
                como a lo largo de la vertiente del Golfo de M&eacute;xico hasta el sur de Tamaulipas; sin embargo, su 
                distribuci&oacute;n se ha reducido en un 80% debido a la fragmentacin que han sufrido las selvas, por lo 
                que las poblaciones de monos que a&uacute;n sobreviven se encuentran aisladas.</p>
            
            <h2>Dieta</h2>
            <ul class="content-list">
                <li>Frutas</li>
                <li>Verduras</li>
                <li>Hojas</li>
                <li>Flores</li>
                <li>Algunos insectos</li>
            </ul>
            <br>

            <h2>Depredadores</h2>
            <ul class="content-list">
                <li>Jaguares</li>
                <li>Boas</li>
                <li>Cocodrilos</li>
                <li>Águilas</li>
                <li>Humanos</li>

            </ul>
        </div>
    </div>
    <footer>
        <p><center>© 2020 SELVA</center>Todos los derechos reservados.</p>
    </footer>
</body>

</html>
