<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partes de un Volcán</title>
    <link rel="stylesheet" href="../css/Partes.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="index.html">VOLCANES</a></h1>
            <ul class="nav-menu">
                <li><a href="Caracteristicas.html">Características</a></li>
                <li><a href="Partes.html">PARTES</a></li>
                <li><a href="Importantes.html">Importantes</a></li>
                <li><a href="Clasificacion.html">Clasificación</a></li>
                <li><a href="Galeria.html">Galería</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="Volcan"><center>Partes de un Volcán</center></h1>

    <div class="content">
         <p>Los volcanes son fénomenos tan excepcionales porque no solo su apariencia es imponente, si no que tambien presenta úncia. Aquí un diagrama con sus principales partes:</p>
         <div class="image">
        <img src="../img/Partes.png" alt="Gráfica de las partes de un Volcán" style="width:100%;">
        </div>
        <br><br>
        <div class="info">
            <br><br>
            <h2>Mira el Diagrama</h2>
            <ul class="content-list">
                <li><b> Materiales Resultantes:</b> Las coladas, domos, diques y cenizas, que son diferentes formas de material volcánico que se solidifica al enfriarse.</li>
                <li><b>Las Fisuras:</b> Son grietas en la superficie por donde también puede salir el magma.</li>
                <li><b>La Caldera:</b> Es una depresión circular que se forma cuando el cráter se hunde o colapsa.</li>
                <li><b>El Crácter:</b> Es la abertura en la cima del cono volcánico por donde sale el magma.</li>
                <li><b>El cono volcánico:</b> es la estructura formada por la acumulación de material sólido y líquido expulsado por el volcán.</li>
                <li><b>La Chimenea:</b> Es el conducto por donde sale el magma hacia la superficie</li>
                <li><b>Cámara Magmática</b> Es el depósito subterráneo de magma, la roca fundida que proviene del interior de la Tierra.</li>
            </ul>
        </div>
    
        

    </div>

    <footer>
        <p><center>© 2020 VOLCANES</center>Todos los derechos reservados.</p>
    </footer>
</body>
</html>
