<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Tapir</title>
    <link rel="stylesheet" href="../css/Tapir.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="index.html">SELVA</a></h1>
            <ul class="nav-menu">
                <li><a href="Jaguar.html">JAGUAR</a></li>
                <li><a href="Mono.html">MONO</a></li>
                <li><a href="Tapir.html">TAP&Iacute;R</a></li>
                <li><a href="Boa.html">BOA</a></li>
                <li><a href="Guacamaya.html">GUACAMAYA</a></li>
                <li><a href="#">GALER&Iacute;A</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="animal-title"><center>TAP&Iacute;R</center></h1>

    <div class="content">
        <div class="image">
            <img src="../img/Tapir.jpg" alt="Imagen de un Tapir" style="width:100%;">
            <img src="../img/Tapirb.jpeg" alt="Imagen de otro Tapir" style="width:100%; margin-top: 20px;">
        </div>
        <div class="info">
            <p>El tapir es un gran mamífero herbívoro con un cuerpo robusto y cortas patas robustas. Es conocido por su nariz alargada y prensil, similar a un pequeño trompa. Los tapires son principalmente nocturnos y son excelentes nadadores y buceadores. Habitan en selvas y bosques húmedos de América Latina y el sudeste asiático.</p>
            
            <h2>Dieta</h2>
            <ul class="content-list">
                <li>Frutas</li>
                <li>Hojas</li>
                <li>Ramas</li>
                <li>Brotes</li>
            </ul>
            <br>
            <h2>Depredadores</h2>
            <ul class="content-list">
                <li>Jaguares</li>
                <li>Tigres</li>
                <li>Cocodrilos</li>
                <li>Anacondas</li>
                <li>Humanos</li>
            </ul>
        </div>
    </div>
    <footer>
        <p><center>© 2020 SELVA</center>Todos los derechos reservados.</p>
    </footer>
</body>

</html>
