<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Tap&iacute;r</title>
    <link rel="stylesheet" href="../css/Tapir.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="index.html">SELVA</a></h1>
            <ul>
                <li><a href="Jaguar.html">JAGUAR</a></li>
                <li><a href="Mono.html">MONO</a></li>
                <li><a href="#">TAP&Iacute;R</a></li>
                <li><a href="#">BOA</a></li>
                <li><a href="#">GUACAMAYA</a></li>
                <li><a href="#">GALER&Iacute;A</a></li>
            </ul>
        </nav>
    </header>
    <br><br>

    <h1 class="Tapir"><center>TAPÍR</center></h1>


    <p>El tapir es el único representante vivo de la familia de los tapiridae del genero Tapirus y también 
        considerado familiar lejano del caballo y del rinoceronte.  
        El tapir es de tamaño mediano-grande, aproximadamente de 2 metros de largo y llega a pesar de 
        entre 150 y 300 kilos. Su cuerpo es grueso y de cabeza y cuello grandes que le sirven para poder 
        abrirse paso entre la maleza de los bosques tropicales donde vive ahora.  
        El tapir tiene en sus patas cuatro dedos, tienen pelo corto y oscuro pero aunque sus crías 
        puedan presentar manchas de color en el pelo, conforme crecen estas manchas desaparecen. Una 
        de las características principales del tapir es su largo hocico "tubular" con el que arranca raíces, 
        hojas, agua, hierbas y plantas acuáticas de los pantanos donde pasa la mayor parte del tiempo.</p>

        <ul>
            
        </ul>
</body>
</html>